body {
    color: #442235ff;
    background-color: #e9bcb7ff;
    font-family: 'Inconsolatas', monospace;
}

a,
a:focus {
  color: #923926;
  text-decoration: none;
}

a:hover {
  color: #d5745e;
  text-decoration: none;
}

dl {
  margin-top: 3rem;
}

dl p {
  margin-bottom: 1rem;
}

dd {
  margin-bottom: 2rem;
}

dt {
  font-family: 'Roboto Mono', monospace;
}


h1 {
  margin-top: 10rem;
}

h2 {
  margin-top: 5rem;
  color: #7b769b;
  font-size: 1.6rem;
}

.centerpiece {
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

.img-me {
  width: auto;
  border-radius: 50%;
}